:root {
  --main-red: #b33939;
  --main-green: #449D44;
  --main-blue: #247BA0;
  --main-dark-blue: #0A2463;
  --main-gray: #4D4D4D;
  --main-white: #FFF;
}
.bg-red-main { background-color: var(--main-red); }
.bg-green-main { background-color: var(--main-green); }
.bg-blue-main { background-color: var(--main-blue); }
.bg-dark-blue-main { background-color: var(--main-dark-blue); }
.bg-gray-main { background-color: var(--main-gray); }
.text-gray-main { color: var(--main-gray); }

.game-btn {
  background-color: var(--main-white);
}
